<% if answer.new_record? %>
  <h3>Preview</h3>
<% end %>

<p>
  <strong>Content:</strong>
  <%= answer.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= answer.author&.name %>
</p>

<% unless answer.new_record? %>
  <%= link_to 'Edit', edit_discussion_answer_path(@discussion, answer) %>
<% end %>
